
    <div class="py-5 text-center">
    <%= image_tag "goat.png" %>
      <h2>Ready to get GOATED?</h2>
      <p class="lead">We strive to bring you the finest goats. Our goats leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">1</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><%= @goat.name %></h6>
              <small class="text-muted">€<%= @goat.price_per_day %> X <%= @days %> days</small>
            </div>
            <span class="text-muted">€<%= @goat.price_per_day * @days %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Transport Fee</h6>
            </div>
            <span class="text-muted">€<%= @goat.transport_fee %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Cleaning Fee</h6>
            </div>
            <span class="text-muted">€<%= @goat.cleaning_fee %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>€<%= (@goat.price_per_day * @days) + @goat.cleaning_fee + @goat.transport_fee %></strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8 rounded border py-4">
        <h4 class="mb-3">Billing address</h4>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="<%= current_user.first_name %>" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="<%= current_user.last_name %>" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" value="<%= current_user.email %>">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select class="form-select" id="country" required="">
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">State</label>
              <select class="form-select" id="state" required="">
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder="" required="">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Save this information for next time</label>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>

          <div class="row my-3">
          <div class="col-12 fs-3">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-jcb"></i>
            <i class="fa-brands fa-cc-discover"></i>
            <i class="fa-brands fa-cc-amex"></i>
          </div>
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required="">
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required="">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            <img style="position: absolute; cursor: pointer; left: 855px; top: 1166.5px; z-index: 2147483644; width: 27px; height: 27px; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px; transition: all 0.25s ease 0s;" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMCAwaDMydjMySDB6Ii8+PHBhdGggZD0iTTMyIDB2MzJIMFYwaDMyek0xNS42NDggOEg5LjZ2MTYuMDM4aDMuNDM2di01LjI3aDIuNjEyYzQuNjEzIDAgNi45MTktMS43OTQgNi45MTktNS4zODMgMC0zLjU5LTIuMzA2LTUuMzg0LTYuOTE5LTUuMzg0em0uMTYgMy4wMjVjMi4xNyAwIDMuMjU0Ljc4NiAzLjI1NCAyLjM2IDAgMS41NzMtMS4wODUgMi4zNi0zLjI1MyAyLjM2aC0yLjc3M3YtNC43MnoiIGZpbGw9IiMyMzIzMjAiLz48L2c+PC9zdmc+" class="_pwp-icon" alt="Checkout with Privacy" title="Checkout with Privacy"></div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>

          <hr class="my-4">
        <%= form_for [@goat, @booking] do |f| %>


              <%= f.hidden_field :start_date %>
              <%= hidden_field_tag :start_date, @start_date  %>
              <%= f.hidden_field :end_date %>
              <%= hidden_field_tag :end_date, @end_date  %>
              <%= f.submit "Confirm Your Booking", class: "w-100 btn btn-primary btn-lg"  %>
        <% end %>
      </div>
    </div>
