<div class="navbar navbar-expand-sm fixed-top navbar-light navbar-lewagon" style="height: 30px; background-color: #f8f5f2; padding: 46px;">
  <div class="container-fluid" style="padding: 46px">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", width: 150 %>
    <% end %>


  <nav class="navbar navbar-expand-lg" style =" height: 46px; border-style: solid; border-color:#dddddd; border-radius: 40px; box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%); background-color: white;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" data-controller="flatpickr" style="align-items: center;">
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex; align-items: center;">
          <div style="display: flex; align-items: center; padding: 10px;">
            <input placeholder="Select Dates" data-flatpickr-target="calendarInput" style="border: none; width: 114px;"><i class="fa-regular fa-calendar" style="color: #5d6e5b; font-size: 15px;"></i>
          </div class="d-flex">
          <li class="nav-item">
            <input class="nav-link" href="#" placeholder="Where" style="border:none; outline: none;
"></a>






          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu">
              <% goat_categories.each do |category| %>
                <%= link_to category, goats_path(category: category), class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "All Goats", goats_path, class: "dropdown-item" %>
            </ul>
          </li>

        </ul>
        </div>
        <form class="d-flex" role="search">
          <button class="btn" type="submit">
            <%= image_tag "_button.png", width: 30 %>
          </button>
        </form>
      </div>
    </div>
  </nav>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "All Goats", goats_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to current_user.email, user_profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "My Goats", "#should_go_to_user_goats_page", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li>
            <button id="login-button" class="btn d-flex" type="submit" role="login" style="align-items:center">
              <div class="d-flex" style="align-items:center;">
               <i class="fa-solid fa-bars" style="margin-right: 14px"></i>
              <a class="nav-link" style="color:white; padding:0" href="/users/sign_in"><i class="fa-solid fa-user" style="color:#8DA48A"></i></a>
              <%#avatar image %>
              </div>
            </button>
          </li>
        <% end %>
      <%# <div class="button-div">
          <li class="nav-item btn btn-primary" id="login-button" style="border-radius:50px; box-shadow: 0 1px 2px rgb(0 0 0 / 8%);">
          <a class="nav-link" style="color:white" href="/users/sign_in">Login</a>
      </div> %>
      </ul>
    </div>
  </div>
</div>
