<div class="p-4 p-md-5 mb-4 rounded text-bg-dark flex">
  <div class="row g-5 justify-content-center">
    <div class="col-12 col-lg-8 px-4">
      <h1 class="display-4 fst-italic"><%= @user.first_name %> <%= @user.last_name %></h1>
      <p class="lead my-3"><%= @user.bio %></p>
    </div>
    <div class="col-12 col-lg-4 order-first order-lg-last">
      <img src="https://res.cloudinary.com/dxfg68ykv/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1669222812/jeffrey-keenan-pUhxoSapPFA-unsplash_nthk0z.jpg" class="rounded-circle" style="width: 250px;"alt="profile_picture">
    </div>
  </div>
</div>


  <div class="row g-5">
    <div class="col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="card shadow w-100" style="border-radius: 10px!important;">
            <div class="card-body p-0">
              <div class="card-header py-3" style="border-radius: 10px 10px 0 0;">
                <h4 class="my-0 fw-normal">Your info</h4>
              </div>
              <h5 class="card-title p-3 m-0">
                <strong>Your email:</strong>
                <p><%= @user.email %></p>
                <strong>Your address:</strong>
                <p><%= @user.address %></p>
                <strong>Your phone number:</strong>
                <p><%= @user.phone_number %></p>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="position-sticky" style="top: 116px;">
        <div class="card mb-4 rounded-3 shadow w-100" style="border-radius: 10px!important;">
          <div class="card-header py-3" style="border-radius: 10px 10px 0 0;">
            <h4 class="my-0 fw-normal">About your Goats</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <% @user.goats.each do |goat| %>
                <li><p class="fw-light"><%= goat.name %></p></li>
              <% end %>
              <hr />
              <%total = @user.goats.count%>
              <li><strong>You have:</strong> <%= total %> Goats</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Add new Goat
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new Goat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2></h2>
        <%= simple_form_for @goat do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :category, collection: ["Yoga Goat", "Grazing Goat", "Company Goat", "Birthday Goat", "Decoration Goat", "Seeing Goat", "Guardian Goat", "Entertaining Goat"]%>
          <%= f.input :description %>
          <%= f.input :image_url, as: :file, label: "Goat pic" %>
          <%= f.input :price_per_day %>
          <%= f.input :transport_fee %>
          <%= f.input :cleaning_fee %>

          <%= f.button :submit, value: "Create Goat", class: "btn-primary" %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Add this Goat</button> %>
        <%# <%= f.button :submit, class: "btn btn-primary" %> %>
        <%# <% end %> %>
      </div>
    </div>
  </div>
</div>
