<div class="p-4 p-md-5 mb-4 rounded text-bg-dark flex">
  <div class="row g-5 justify-content-center">
    <div class="col-12 col-lg-8 px-4">
      <h1 class="display-4 fst-italic"><%= @user.first_name %> <%= @user.last_name %></h1>
      <p class="lead my-3"><%= @user.bio %></p>
    </div>
    <div class="col-12 col-lg-4 order-first order-lg-last">
      <img src="https://res.cloudinary.com/dxfg68ykv/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1669222812/jeffrey-keenan-pUhxoSapPFA-unsplash_nthk0z.jpg" class="rounded-circle" style="width: 250px;"alt="profile_picture">
    </div>
  </div>
</div>


  <div class="row g-5">
    <div class="col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="card shadow w-100" style="border-radius: 10px!important;">
            <div class="card-body p-0">
              <div class="card-header py-3" style="border-radius: 10px 10px 0 0;">
                <h4 class="my-0 fw-normal">Your info</h4>
              </div>
              <h5 class="card-title p-3 m-0">
                <strong>Your email:</strong>
                <p><%= @user.email %></p>
                <strong>Your address:</strong>
                <p><%= @user.address %></p>
                <strong>Your phone number:</strong>
                <p><%= @user.phone_number %></p>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 116px;">
        <div class="card mb-4 rounded-3 shadow w-100" style="border-radius: 10px!important;">
          <div class="card-header py-3" style="border-radius: 10px 10px 0 0;">
            <h4 class="my-0 fw-normal">About your Goats</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <% @user.goats.each do |goat| %>
                <li><p class="fw-light"><%= goat.name %></p></li>
              <% end %>
              <hr />
              <%goat_total = @user.goats.count%>
              <li><strong>You have:</strong> <%= goat_total %> Goats</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add new Goat</button>
          </div>
        </div>
      </div>
    </div>
  </div>


 <div class="cards mb-10px">
    <% @user.goats.each do |goat| %>
      <div class="card animated_card">
        <%= link_to goat_path(goat.id), class: "position-relative" do %>


        <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<div class="col-md-12">
      <div class="position-sticky" style="top: 2rem;">
        <div class="card mb-4 rounded-3 shadow w-100">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Favorited Goats</h4>
          </div>
          <div class="card-body">
            <div class="cards mb-10px">
              <% @goats.each do |goat| %>
                <div class="card animated_card">
                 <%= link_to goat_path(goat.favoritable.id), class: "position-relative" do %>
                 <%= cl_image_tag(goat.favoritable.image_url, class: "card-img-top") %>
              <% end %>
            <div class="card-body">
              <div class="d-flex">
                <h5 class="card-title mb-0"><%= goat.favoritable.name %></h5>
              </div>
           <div class="d-flex justify-content-between">
              <span class="goat-category"><%= goat.favoritable.category %></span>
          </div>
        </div>
      </div>
    <% end %>
      </div>
        <hr />
          <li><strong>You have:</strong> <%= @user.all_favorites.count %> Favorited Goat<%= @user.all_favorites.count == 1 ? "" : "s" %></li>
            <%= link_to "/goats", class: "w-50 btn btn-lg btn-outline-primary mt-2" do %>
              Favorite A Goat
            <% end %>
      </div>
      </div>
      </div>
    </div>
  </div>
