<div class="container">
  <h1>Goat List</h1>

  <div class="cards">
    <% @goats.each do |goat| %>
      <div class="card">
        <%= link_to goat_path(goat.id), class: "position-relative" do %>
          <%= cl_image_tag(goat.image_url, class: "card-img-top") %>
          <div>
            <i class="fa-solid fa-star star-icon"></i>
          </div>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= goat.name %></h5>
          <span class="badge text-bg-info"><%= goat.category %></span>
          <%# <p class="card-text"><%= goat.description </p> %>
          <%= link_to goat_path(goat.id) do %>
            <i class="fa-solid fa-cart-plus"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
