<div class="containsAll container" style="padding-top: 27px">



<div class="position-filters dropdown">
  <button class="filter-category btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   <%= image_tag "filter.png", class: "filter-image" %> Filters
  </button>
  <ul class="dropdown-menu">
      <% goat_categories.each do |category| %>
        <%= link_to category, goats_path(category: category), class: "dropdown-item" %>
      <% end %>
  </ul>
</div>

  <div class="cards mb-10px">
    <% @goats.each do |goat| %>
      <div class="card">
        <%= link_to goat_path(goat.id), class: "position-relative" do %>
          <%= cl_image_tag(goat.image_url, class: "card-img-top") %>
          <p class="star-icon m-0 px-2 mb-0">
          <i class="fa-solid fa-star star"></i> <%= goat.rating %>
          </p>
        <% end %>

        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title mb-0"><%= goat.name %></h5>
            <p class="price"><%= goat.price_per_day %>€/h</p>
          </div>
          <span class="goat-category"><%= goat.category %></span>
          <%# <p class="card-text"><%= goat.description </p> %>
          <%= link_to goat_path(goat.id) do %>
            <i class="fa-solid fa-cart-plus"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
