<%= link_to "<", goats_path, class: "returnbtn btn btn-primary" %>
<div class="p-4 p-md-5 mb-4 rounded flex" style="background-color: #798E77; color:white; border-radius: 10px!important">
  <div class="row g-5 justify-content-center">
    <div class="banner_show col-12 col-lg-8 px-4">
      <h1 class=" display-4 fst-italic"><%= @goat.name %></h1>
      <hr style="border: 2px solid; color: white;">
      <div class="d-flex justify-content-center align-items-center" style="height: 79%;">
        <p class="lead my-3"><%= @goat.description %></p>
      </div>
    </div>
    <div class="col-12 col-lg-4 order-first order-lg-last d-flex justify-content-center align-items-center">
      <div class="fill">
        <%= cl_image_tag(@goat.image_url, height:333, width:368, crop:"fill") %>
      </div>
    </div>
  </div>
</div>
  <div class="row g-5">
    <div class="col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="card rounded border w-100" style="border-radius: 10px!important;">
            <div class="card-body">
              <h5 class="card-title">Rating:
                <% @goat.rating.round(0).times do %>
                  <i class="fa-solid fa-star" style="font-size: 15px; color:#FFC978"></i>
                <% end %>
                <% (5 - @goat.rating.round(0)).times do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card rounded border w-100" style="border-radius: 10px!important;">
            <div class="card-body">
              <h5 class="card-title">Age:
                <strong><%= @goat.age %></strong>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-6">
          <div class="card rounded border w-100 h-100" style="border-radius: 10px!important;">
            <div class="card-body text-center">
            <i class="fa-regular fa-face-grin-tongue-squint fs-2 text-primary mb-2"></i>
              <h5 class="card-title">Anti-Spit Training</h5>
              <p class="card-text" style="color: #7B7878; margin-top: 17px;">This Goat has been intensively trained with the innovative 'Anti-spitting Behaviour Training Course', recently developed by us, speciffically for our Goats.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card rounded border w-100  h-100" style="border-radius: 10px!important;">
            <div class="card-body text-center">
            <i class="fa-solid fa-car-burst fs-2 text-primary mb-2"></i>
              <h5 class="card-title">Comprehensive insurance coverage</h5>
              <p class="card-text" style="color: #7B7878; margin-top: 17px;">The booking of this Goat, comes with a broad insurance coverage, that includes accidental damage to your property, or injuries related to the handling of the Goat.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-6">
          <div class="card rounded border w-100 h-100" style="border-radius: 10px!important;">
            <div class="card-body text-center">
            <i class="fa-solid fa-earth-europe fs-2 text-primary mb-2"></i>
              <h5 class="card-title">Bio-Green Certified</h5>
              <p class="card-text" style="color: #7B7878; margin-top: 17px;">This Goat (or any of our goats for that matter) doesn't produce any non-natural substance while in operation. It's the cleanest way to have your lawn or field taken care of.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card rounded border w-100  h-100" style="border-radius: 10px!important;">
            <div class="card-body text-center">
            <i class="fa-solid fa-utensils fs-2 text-primary mb-2"></i>
              <h5 class="card-title"><%=acres = rand(0.2..2.0).round(1)%> Acres/hour</h5>
              <p class="card-text" style="color: #7B7878; margin-top: 17px;">This Goat grazes roughly <%= acres %> acres per hour on a typical day.</p>
            </div>
          </div>
        </div>
      </div>
      <article class="blog-post">
      <p><%= @goat.name %> is naturally curious. They are agile and well known for their ability to climb and balance in precarious places. This makes them the only ruminant to regularly climb trees. Due to their agility and inquisitiveness, they are notorious for escaping their pens by testing fences and enclosures, either intentionally or simply because they are used to climbing. If any of the fencing can be overcome, goats will almost inevitably escape. Goats have been found to be as intelligent as dogs by some studies.</p>
       </article>
      <hr />
      <div class="row my-4">
        <div class="col-12">
          <div class="card rounded border w-100">
            <div class="card-body">
              <h5 class="card-title">Location:
                <strong><%= @goat.address %></strong>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 116px;">
        <div class="card mb-4 rounded-3 shadow w-100" style="border-radius: 10px!important;">
          <div class="card-header py-3" style="border-radius: 10px 10px 0 0;">
            <h4 class="my-0 fw-normal">Pricing</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€<%= @goat.price_per_day %><small class="text-muted fw-light">/day</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>€<%= @goat.transport_fee %> <small class="text-muted fw-light">transport fee</small></li>
              <li>€<%= @goat.cleaning_fee %> <small class="text-muted fw-light">cleaning fee</small></li>
              <hr />
              <%total = @goat.price_per_day + @goat.cleaning_fee + @goat.cleaning_fee %>
              <li><strong>Total:</strong> €<%= total %></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary" style="border-radius: 34px!important;">Book <%= @goat.name %></button>
          </div>
        </div>
      <div class="p-4 mb-3 rounded border position-relative" style="border-radius: 10px!important;">
      This is a rare find! <strong><%= @goat.name %> is usually booked!</strong>
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger hot-goat">
          HOT GOAT!
          <span class="visually-hidden">This goat is usually booked</span>
        </span>
      </div>
      </div>
    </div>
  </div>
